# Formatting of Strings & Dates in Python

## Libraries and settings

In [1]:
# Libraries
import os
import pytz
from datetime import date
from datetime import time
from datetime import datetime

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Show current working directory
print(os.getcwd())

/Users/sivanujanselvarajah/Documents/zhaw/4.Semester/Scientific programming/scientific_programming/Week_04/exercises

## String formatting in Python

### %-formatting

In [5]:
# Example (1):
name = "Dwayne"
print("Hello, %s." % name)

# Example (2):
name = "Dwayne"
age = 50
print("Hello, %s. You are %s years old." % (name, age))

# Example (3):
s1 = "Dwayne"
s2 = "Lauren"
s3 = "%s and %s are married and have two children." % (s1, s2)
s4 = "{} and {} are married and have two children.".format(s1, s2)
print(s3)
print(s4)

# Example (4):
first_name = "Dwayne"
last_name = "Johnson"
age = 50
profession = "actor and former professional wrestler"
address = "Hayward, California"
print("Hello, %s %s. You are %s years old. You are an %s. You live in %s." %
      (first_name, last_name, age, profession, address))

Hello, Dwayne.
Hello, Dwayne. You are 50 years old.
Dwayne and Lauren are married and have two children.
Dwayne and Lauren are married and have two children.
Hello, Dwayne Johnson. You are 50 years old. You are an actor and former professional wrestler. You live in Hayward, California.

### str.format()

In [6]:
# Example (1):
name = 'Dwayne'
age = 50
print("Hello, {}. You are {} years old.".format(name, age))

# Example (2):
print("Hello, {1}. You are {0} years old.".format(age, name))

# Example (3):
person = {'name': 'Dwayne', 'age': age}
print("Hello, {name}. You are {age} years old.".format(
    name=person['name'], age=person['age']))

# Example (4):
person = {'name': 'Dwayne', 'age': age}
print("Hello, {name}. You are {age} years old.".format(**person))

# Example (5):
first_name = "Dwayne"
last_name = "Johnson"
profession = "actor and former professional wrestler"
address = "Hayward, California"
print(("Hello, {first_name} {last_name}. You are {age} years old. " +
       "You are an {profession}. You live in {address}.")
      .format(first_name=first_name, last_name=last_name, age=age,
              profession=profession, address=address))

Hello, Dwayne. You are 50 years old.
Hello, Dwayne. You are 50 years old.
Hello, Dwayne. You are 50 years old.
Hello, Dwayne. You are 50 years old.
Hello, Dwayne Johnson. You are 50 years old. You are an actor and former professional wrestler. You live in Hayward, California.

#### In order to print the format use the syntax: print("{:.2f}".format(3.1415926))

<table class="wp-block-table code" align="left">
    <tbody>
        <tr>
            <th width="16%">Number</th>
            <th width="16%">Format</th>
            <th width="16%">Output</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>3.1415926</td>
            <td>{:.2f}</td>
            <td>3.14</td>
            <td>Format float 2 decimal places</td>
        </tr>
        <tr>
            <td>3.1415926</td>
            <td>{:+.2f}</td>
            <td>+3.14</td>
            <td>Format float 2 decimal places with sign</td>
        </tr>
        <tr>
            <td>-1</td>
            <td>{:+.2f}</td>
            <td>-1.00</td>
            <td>Format float 2 decimal places with sign</td>
        </tr>
        <tr>
            <td>2.71828</td>
            <td>{:.0f}</td>
            <td>3</td>
            <td>Format float with no decimal places</td>
        </tr>
        <tr>
            <td>5</td>
            <td>{:0&gt;2d}</td>
            <td>05</td>
            <td>Pad number with zeros (left padding, width 2)</td>
        </tr>
        <tr>
            <td>5</td>
            <td>{:x&lt;4d}</td>
            <td>5xxx</td>
            <td>Pad number with x’s (right padding, width 4)</td>
        </tr>
        <tr>
            <td>10</td>
            <td>{:x&lt;4d}</td>
            <td>10xx</td>
            <td>Pad number with x’s (right padding, width 4)</td>
        </tr>
        <tr>
            <td>1000000</td>
            <td>{:,}</td>
            <td>1,000,000</td>
            <td>Number format with comma separator</td>
        </tr>
        <tr>
            <td>0.25</td>
            <td>{:.2%}</td>
            <td>25.00%</td>
            <td>Format percentage</td>
        </tr>
        <tr>
            <td>1000000000</td>
            <td>{:.2e}</td>
            <td>1.00e+09</td>
            <td>Exponent notation</td>
        </tr>
        <tr>
            <td>13</td>
            <td>{:10d}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13</td>
            <td>Right aligned (default, width 10)</td>
        </tr>
        <tr>
            <td>13</td>
            <td>{:&lt;10d}</td>
            <td>13</td>
            <td>Left aligned (width 10)</td>
        </tr>
        <tr>
            <td>13</td>
            <td>{:^10d}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;13</td>
            <td>Center aligned (width 10)</td>
        </tr>
    </tbody>
</table>

In [7]:
# Examples of number formatting with str.format()
print("{:.2f}".format(3.1415926))

print("{:.2%}".format(0.25))

print("{:0>8d}".format(42))

print("{:,}".format(1000000000))

print("{:.2e}".format(1000000000))

3.14
25.00%
00000042
1,000,000,000
1.00e+09

### f-strings

In [8]:
# Example (1):
name = "Dwayne"
age = 50
print(f"Hello, {name}. You are {age}.")

# Example (2):
print(F"Hello, {name}. You are {age}.")

# Example (3):
print(f"On May 2, 2023 {name} will be {2023 - 1972} years old.")

# Example (4):
print(f"{name.lower()} is 6ft 5in (196 cm) height.")

# Example 4:
name = "Dwayne"
profession = "actor and former professional wrestler"
address = "Hayward, California"
message = (f"Hi {name}. "
           f"You are an {profession}. "
           f"You live in {address}.")
print(message)

Hello, Dwayne. You are 50.
Hello, Dwayne. You are 50.
On May 2, 2023 Dwayne will be 51 years old.
dwayne is 6ft 5in (196 cm) height.
Hi Dwayne. You are an actor and former professional wrestler. You live in Hayward, California.

#### Floating point values have the f suffix. We can also specify the precision: the number of decimal places. The precision is a value that goes right after the dot character.

In [9]:
# Format floats
pi = 3.1415926535897932384626433832795028841971693993751058209749445923078164062

# No specified format
print(f'{pi}')

# Zero decimal places
print(f'{pi:.0f}')

# Eight decimal places
print(f'{pi:.8f}')

# Two decimal places
print(f'{pi*10000:.2f}')

3.141592653589793
3
3.14159265
31415.93

#### The width specifier sets the width of the value. The value may be filled with spaces or other characters if the value is shorter than the specified width.

In [5]:
# Format width
for x in range(1, 11):
    print(f'{x:2} | {x**2:3} | {x**5:6}')
    
# Format width and with and decimals
print('\n')
for x in range(1, 11):
    print(f'{x:5.2f} | {x**2:6.2f} | {x**5:9.2f}')

 1 |   1 |      1
 2 |   4 |     32
 3 |   9 |    243
 4 |  16 |   1024
 5 |  25 |   3125
 6 |  36 |   7776
 7 |  49 |  16807
 8 |  64 |  32768
 9 |  81 |  59049
10 | 100 | 100000


 1.00 |   1.00 |      1.00
 2.00 |   4.00 |     32.00
 3.00 |   9.00 |    243.00
 4.00 |  16.00 |   1024.00
 5.00 |  25.00 |   3125.00
 6.00 |  36.00 |   7776.00
 7.00 |  49.00 |  16807.00
 8.00 |  64.00 |  32768.00
 9.00 |  81.00 |  59049.00
10.00 | 100.00 | 100000.00

#### By default, the strings are justified to the left. We can use the > character to justify the strings to the right. The > character follows the colon character.

In [11]:
# Justify string
s1 = '123'
s2 = '1234'
s3 = '12345'
s4 = '123456'

print(f'{s1:>10}')
print(f'{s2:>10}')
print(f'{s3:>10}')
print(f'{s4:>10}')

       123
      1234
     12345
    123456

#### The example displays a formatted current datetime. The datetime format specifiers follow the : character.

In [6]:
# Format_datetime
now = datetime.now()
print(f'{now:%Y-%m-%d %H:%M:%S}')

2024-06-01 19:24:59

#### Numbers can have various numeric notations, such as decadic or hexadecimal.

In [7]:
# Numeric notations
a = 300

# hexadecimal
print(f"{a:x}")

# octal
print(f"{a:o}")

# scientific
print(f"{a:e}")

12c
454
3.000000e+02

## Basic date types in Python

In [14]:
# Use the dir() function to get a list containing all objects of the module.
print(dir(datetime))

['__add__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', 'astimezone', 'combine', 'ctime', 'date', 'day', 'dst', 'fold', 'fromisocalendar', 'fromisoformat', 'fromordinal', 'fromtimestamp', 'hour', 'isocalendar', 'isoformat', 'isoweekday', 'max', 'microsecond', 'min', 'minute', 'month', 'now', 'replace', 'resolution', 'second', 'strftime', 'strptime', 'time', 'timestamp', 'timetuple', 'timetz', 'today', 'toordinal', 'tzinfo', 'tzname', 'utcfromtimestamp', 'utcnow', 'utcoffset', 'utctimetuple', 'weekday', 'year']

### Date object to represent a date

In [9]:
# Date object to represent a date
a = date(2022, 3, 7)
print(a)

# Get current date
today = date.today()
print("Current date =", today)

2022-03-07
Current date = 2024-06-01

### Time object to represent a time

In [10]:
# time(hour = 0, minute = 0, second = 0)
a = time()
print("a =", a)

# time(hour, minute and second)
c = time(hour = 11, minute = 34, second = 56)
print("c =", c)

# time(hour, minute and second)
b = time(11, 34, 56)
print("b =", b)

a = 00:00:00
c = 11:34:56
b = 11:34:56

### Datetime object to represent a datetime

In [11]:
# datetime(year, month, day)
a = datetime(2022, 12, 31)
print(a)

# datetime(year, month, day, hour, minute, second)
b = datetime(2022, 12, 31, 23, 59, 59)
print(b)

2022-12-31 00:00:00
2022-12-31 23:59:59

### Timedelta object

In [18]:
# Using date objects to calculate the time delta
t1 = date(year = 1984, month = 12, day = 31)
t2 = date(year = 2022, month = 12, day = 31)
t3 = t2 - t1
print(t3)
print("type of t3 =", type(t3))

# Using datetime objects to calculate the time delta
t4 = datetime(year = 1984, month = 12, day = 31, hour = 12)
t5 = datetime(year = 2022, month = 12, day = 31, hour = 4)
t6 = t5 - t4
print(t6)
print("type of t6 =", type(t6))

13879 days, 0:00:00
type of t3 = <class 'datetime.timedelta'>
13878 days, 16:00:00
type of t6 = <class 'datetime.timedelta'>

### Format datetime using strftime()

In [18]:
# Current date and time
now = datetime.now()

# H:M:S format
t = now.strftime("%H:%M:%S")
print("time:", t)

# mm/dd/YY H:M:S format
s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
print("s1:", s1)

# dd/mm/YY H:M:S format
s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
print("s2:", s2)

time: 19:27:23
s1: 06/01/2024, 19:27:23
s2: 01/06/2024, 19:27:23

### Handling time zone

In [19]:
# Local time
local = datetime.now()
print("Local:", local.strftime("%m/%d/%Y, %H:%M:%S"))

# NY time
tz_NY = pytz.timezone('America/New_York')
datetime_NY = datetime.now(tz_NY)
print("New York:", datetime_NY.strftime("%m/%d/%Y, %H:%M:%S"))

Local: 06/01/2024, 19:27:40
New York: 06/01/2024, 13:27:40

### Jupyter notebook --footer info-- (please always provide this at the end of each notebook)

In [21]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
POSIX
Darwin | 23.3.0
Datetime: 2024-06-01 19:28:24
Python Version: 3.10.13
-----------------------------------