# Working with SQLite databases

## Libraries and settings

In [3]:
# Libraries
import os
import sqlite3
import pandas as pd

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Show current working directory
print(os.getcwd())

/Users/sivanujanselvarajah/Documents/zhaw/4.Semester/Scientific programming/scientific_programming/Week_04/exercises

## Create SQLite database

In [4]:
# Create db
conn = sqlite3.connect('data/online_store.db')

# Close connection to db
conn.close()

## Create table 'Customers' and include data

In [5]:
# Open connection to db
conn = sqlite3.connect('data/online_store.db')

# Create table and define variables and data types
conn.execute('''CREATE TABLE IF NOT EXISTS Customers
             (CustomerID INT PRIMARY KEY     NOT NULL,
              CustomerName           TEXT    NOT NULL,
              ContactName            TEXT    NOT NULL,
              Address            CHAR(100),
              City               CHAR(100), 
              PostalCode         CHAR(50),
              Country            CHAR(50));''')

# Import data
df_cust = pd.read_excel('customers.xlsx', sheet_name='sheet01')

# Write data to the data base table named 'COMPANY'
df_cust.to_sql('Customers', conn, if_exists='replace')

# Commit the changes to the table
conn.commit()

# Close connection to db
conn.close()

## Create table 'Orders' and include data

In [6]:
# Open connection to db
conn = sqlite3.connect('data/online_store.db')

# Create table and define variables and data types
conn.execute('''CREATE TABLE IF NOT EXISTS Orders
             (OrderID INT PRIMARY KEY   NOT NULL,
              CustomerID         INT    NOT NULL,
              EmployeeID	     INT    NOT NULL,
              OrderDate	         CHAR(100),
              ShipperID          INT);''')

# Import data
df_cust = pd.read_excel('orders.xlsx', sheet_name='sheet01')

# Write data to the data base table named 'COMPANY'
df_cust.to_sql('Orders', conn, if_exists='replace')

# Commit the changes to the table
conn.commit()

# Close connection to db
conn.close()

### Query the database using SQL and write result to a pandas data frame

In [7]:
# Connection to db
conn = sqlite3.connect("data/online_store.db")

# SQL query
df_sub = pd.read_sql("""SELECT
                        T1.CustomerID, 
                        T1.ContactName, 
                        T1.Address, 
                        T1.City,
                        T1.PostalCode, 
                        T1.Country, 
                        T2.OrderID, 
                        T2.OrderDate
                        FROM Customers AS T1
                        LEFT JOIN Orders AS T2
                        ON T1.CustomerID = T2.CustomerID
                        WHERE T1.Country = "France"
                        AND T1.City IN ("Nantes", "Paris", "Toulouse")
                        ORDER BY T1.ContactName""",
                     con=conn)
 
# Close connection to db
conn.close()

# Show result
df_sub

,CustomerID,ContactName,Address,City,PostalCode,Country,OrderID,OrderDate
0,41,Annette Roulet,1 rue Alsace-Lorraine,Toulouse,31000,France,10350.0,1996-11-11 00:00:00
1,41,Annette Roulet,1 rue Alsace-Lorraine,Toulouse,31000,France,10358.0,1996-11-20 00:00:00
2,41,Annette Roulet,1 rue Alsace-Lorraine,Toulouse,31000,France,10371.0,1996-12-03 00:00:00
3,41,Annette Roulet,1 rue Alsace-Lorraine,Toulouse,31000,France,10413.0,1997-01-14 00:00:00
4,41,Annette Roulet,1 rue Alsace-Lorraine,Toulouse,31000,France,10425.0,1997-01-24 00:00:00
5,26,Carine Schmitt,"54, rue Royale",Nantes,44000,France,NaN,None
6,74,Dominique Perrier,"25, rue Lauriston",Paris,75016,France,NaN,None
7,18,Janine Labrune,"67, rue des Cinquante Otages",Nantes,44000,France,10311.0,1996-09-20 00:00:00
8,57,Marie Bertrand,"265, boulevard Charonne",Paris,75012,France,NaN,None

### Jupyter notebook --footer info-- (please always provide this at the end of each notebook)

In [8]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
POSIX
Darwin | 23.3.0
Datetime: 2024-03-19 17:45:57
Python Version: 3.10.13
-----------------------------------